.pie-2-3-middle-data {
  position: absolute;
  width: 155px;
  z-index: 12;
  margin-top: 210px;
  margin-left: 230px;
}

.pie-2-3-male-data {
  position: absolute;
  width: 100px;
  margin-top: 250px;
  margin-left: 50px;
  z-index: 12;
}

.pie-2-3-female-data {
  position: absolute;
  width: 100px;
  margin-top: 250px;
  margin-left: 450px;
  z-index: 12;
}

.pie-2-3-boy-icon-data {
  position: absolute;
  height: 150px;
  margin-top: 400px;
  margin-left: 20px;
  z-index: 12;
}

.pie-2-3-girl-icon-data {
  position: absolute;
  height: 150px;
  margin-top: 420px;
  margin-left: 500px;
  z-index: 12;
}
