.pie-2-2-middle-data {
  position: absolute;
  width: 155px;
  z-index: 12;
  margin-top: 208px;
  margin-left: 228px;
}

.pie-2-2-male-data {
  position: absolute;
  width: 100px;
  margin-top: 250px;
  margin-left: 50px;
  z-index: 12;
}

.pie-2-2-female-data {
  position: absolute;
  width: 100px;
  margin-top: 250px;
  margin-left: 450px;
  z-index: 12;
}

.pie-2-2-boy-icon-data {
  position: absolute;
  height: 150px;
  margin-top: 420px;
  margin-left: -10px;
  z-index: 12;
}

.pie-2-2-girl-icon-data {
  position: absolute;
  height: 150px;
  margin-top: 420px;
  margin-left: 370px;
  z-index: 12;
}
