.pie-2-4-middle-data {
  position: absolute;
  width: 130px;
  z-index: 12;
  margin-top: 214px;
  margin-left: 235px;
}

.pie-2-4-male-data {
  position: absolute;
  width: 100px;
  margin-top: 250px;
  margin-left: 50px;
  z-index: 12;
}

.pie-2-4-female-data {
  position: absolute;
  width: 100px;
  margin-top: 250px;
  margin-left: 450px;
  z-index: 12;
}

.pie-2-4-boy-icon-data {
  position: absolute;
  height: 150px;
  margin-top: 420px;
  margin-left: -10px;
  z-index: 12;
}

.pie-2-4-girl-icon-data {
  position: absolute;
  height: 150px;
  margin-top: 420px;
  margin-left: 450px;
  z-index: 12;
}
